name: CI Check

on: [ push ]

concurrency:
  group: ${{ github.ref }}-check
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Checkout Edge Plugins
        run: |
          git clone https://github.com/hivemq/hivemq-edge.git ../hivemq-edge
          cd ../hivemq-edge
          git checkout ${GITHUB_REF#refs/heads/} || true
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'adopt'
          java-version: '21'
      - name: Check
        run: ./gradlew check
