name: CI Check

on: [ push ]

concurrency:
  group: ${{ github.ref }}-check
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Checkout Edge Plugins
        run: |
          git clone https://github.com/hivemq/hivemq-edge.git ../hivemq-edge
          cd ../hivemq-edge
          git checkout ${GITHUB_REF#refs/heads/} || true
      - name: Setup Java
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'adopt'
          java-version: '21'
      - name: Check
        run: ./gradlew check
